# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/

# Data (No subir el CSV si es muy pesado o privado, mejor dejar el enlace en el README)
# *.csv
*.xlsx

# Jupyter Notebooks
.ipynb_checkpoints

# IDEs
.vscode/
.idea/